 body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: 400;
    font-size: large;
    font-display: auto;
    text-align: center;
 }

 h1 {
    margin: 50px 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
 }

 .filter-buttons button {
    padding: 10px 15px;
    border: none;
    margin: 10px 10px 40px 10px;
    cursor: pointer;
    background-color: #674;
    color: rgb(239, 244, 245);
    font-weight: 600;
    font-size: small;
    transition: background 0.3s;
 }

 .filter-buttons button:hover {
    background-color: rgb(111, 173, 80);
 }
 .gallery div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
 }
 .gallery img {
    width: 100%;
    height: 250px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.4s, filter 0.4s;
 }
 .gallery img:hover {
    transform: scale(1.05);
    filter: brightness(120%);
 }
 .lightbox {
    position: fixed;
    display: none;
    inset: 0;
    justify-content: center;
    background: rgba(0,0,0,0.9);
    align-items: center;
    z-index: 999;
 }
 .lightbox-img {
 max-width: 80%;
 max-height: 90%;
 }
 
 .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 35px;
  color: white;
  cursor: pointer;
}

.prev, .next {
  position: absolute;
  top: 50%;
  font-size: 30px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.3s;
  z-index: 1000;
}
.prev:hover, .next:hover {
    background: rgba(255, 255, 255, 0.3);
}
.prev { left: 20px; }
.next { right: 20px; }

@media (max-width: 600px) {
  .lightbox-img {
    max-width: 95%;
  }
}

